.container {
    background-color: #ffffff;
    min-height: 100%;
}
.postDiv {
    background-color: #ffffff;
}
.scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.45);
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 116, 139, 0.65);
}

